<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InterVium question generator, version FR </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/getGET.js"></script>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="generatorApp">
        <form action="#">
            <input type="text" name="question" v-model="question" v-on:input="showMark">
            <input type="button" value="Download" v-on:click="generateImg">
        </form>
        <br>
        <svg ref="questionScreen" class="screen" version="1.1" viewBox="0 0 508 285.75" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <rect x="0" y="0" width="508" height="285.75" color="#000000" color-rendering="auto" fill="#1e1e1e" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="isolation:auto;mix-blend-mode:normal;paint-order:normal"/>
            <text ref="qstText" x="254" y="146" font-family="'Renner'" fill="#808080" font-size="15px" letter-spacing="0px" text-align="center" text-anchor="middle" word-spacing="0px" style="line-height:15px">
                <tspan fill="#b2b2b2" v-html="question.split(this.questionMark).join(greenQM)"></tspan>
            </text>
        </svg>
        <div id="outputs" style="display:none;">
            <canvas ref="questionCanvas" width="1920" height="1080"></canvas>
            <img ref="outputImg" src="" alt="">
            <a ref="link" href="" :download="question"></a>
        </div>
        <script charset="utf-8">
            var generatorApp=new Vue({
                el:"#generatorApp",
                data:{
                    questionMark:"?",
                    greenQM:"",
                    question:"Template de Question",
                    mark:false,
                },
                mounted:function(){
                    parameters=getParams(window.location.href);
                    console.log(this.$refs);
                    if(parameters.lang=="ar"){
                        this.question="اكتب السؤال هنا";
                        this.questionMark="؟";
                        this.$refs.qstText.style="direction:rtl; font-family:Cairo";
                    }
                    console.log(this.$refs);
                },
                methods:{
                    showMark: function(){
                        if(this.question.includes(this.questionMark)){
                            this.mark=true;
                            this.greenQM="<tspan v-if=\"mark\" fill=\"#44aa00\">"+this.questionMark+"</tspan>";
                        }else{
                            this.mark=false;
                        }
                    },
                    generateImg: function(){
                        var svg = this.$refs.questionScreen;
                        var img = this.$refs.outputImg;
                        var canvas = this.$refs.questionCanvas;
                        var link=this.$refs.link;
                        // get svg data
                        var xml = new XMLSerializer().serializeToString(svg);
                        // make it base64
                        var svg64 = btoa(unescape(encodeURIComponent(xml)));
                        var b64Start = 'data:image/svg+xml;base64,';
                        var image64 = b64Start + svg64;
                        // set it as the source of the img element
                        img.src = image64;
                        // draw the image onto the canvas
                        setTimeout(function(){
                            canvas.getContext('2d').drawImage(img, 0, 0,1920,1080);
                            var png64 = canvas.toDataURL("image/png");
                            img.src=png64;
                            // create the link
                            link.href=png64;
                            //trigger it
                            link.click();
                        },1);
                    }
                }
            });
        </script>
    </div>
</body>
</html>